@import "@workspace/ui/globals.css";

html {
  min-height: 100%;
  background: var(--background);
}

body {
  min-height: 100%;
  overflow-x: hidden;
}

button,
a {
  -webkit-tap-highlight-color: transparent;
}
