@import "@workspace/ui/globals.css";

html {
  height: 100%;
  background: var(--background);
  overflow: hidden;
}

body {
  height: 100%;
  overflow: hidden;
}

@utility app-scrollbar {
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
    height: 0;
    width: 0;
  }
}

button,
a {
  -webkit-tap-highlight-color: transparent;
}
